@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --primary-color: #4935ff;
  --secondary-color: #84aeff;
  --primary-gray: #adadad;
  --bg-gray: #f0f0f0;
  --text-color: #000;
  --bold: 900;
  --semi-bold: 800;
  --light-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  border: none !important;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  list-style: none;
}

html {
  font-size: 62.5%;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

body,
.user-details,
.strategy {
  background-color: var(--bg-gray);
}

.navbar a {
  display: block;
}

.nav-icon:hover {
  scale: 1.2;
  transition: 300ms;
  color: var(--primary-color) !important;
}

.active {
  background: var(--primary-color);
  box-shadow: var(--primary-color) 0.2rem 0.2rem 0.75rem 0.1rem;
}

.notification {
  background-color: var(--secondary-color);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  transform: translate(16px, 8px);
}

.link {
  color: #fff;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.line-below {
  border-bottom: 1px solid var(--primary-color) !important;
}

#doughnut-chart-container {
  display: flex;
  justify-content: space-around;
  justify-self: end;
  /* width: 60%; */
}

#doughnut-chart-container div {
  height: 10rem;
  width: 10rem;
}

.slider::-webkit-slider-runnable-track {
  background-color: #85afff;
  height: 2px;
}

.slider::-webkit-slider-thumb {
  appearance: none !important;
  height: 1rem !important;
  width: 1rem !important;
  background-color: #1bd768 !important;
  border-radius: 50%;
  margin-top: -6px;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25% !important;
  }

  .primary-heading {
    font-size: 2.2rem;
  }

  .secondary-heading {
    font-size: 1.8rem;
  }

  .nav-icon, .active {
    font-size: 2rem !important;
  }

  .user-profile {
    padding: 2rem 1rem !important;
  }
  .amount-today {
    padding-top: 0.5rem !important;
  }
  .transactions {
    padding-top: 0.5rem !important;
  }
}


@media (max-width: 992px) {
  html {
    font-size: 50%;
  }

  .primary-heading {
    font-size: 2rem;
  }

  .secondary-heading {
    font-size: 1.5rem;
  }

  .profile-img {
    height: 6rem;
  }

  .user-profile {
    flex-direction: column;
    width: 15rem;
  }

  .link {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }

  .navbar {
    padding: 0.5rem !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70% !important;
  }
  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20rem;
    align-items: center;
    padding: 0 auto;
    height: 100vh;
    position: relative;
    min-width: 100vw !important;
  }

  .navbar {
    display: none !important;
  }

  .peers {
    flex-direction: column;
  }

  #doughnut-chart-container {
    width: 100%;
    justify-content: space-around !important;
  }

  .stats {
    position: relative;
  }

  .update {
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem;
    transform: translateY(4rem);
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0 ;
  }

  .housing, .docs {
    display: none !important;
  }
}